@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

html {
  font-size: 100%;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  scrollbar-gutter: stable;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  @include font-family($text-font-stack);
  color: $secondary-color;
  background-color: $primary-color;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

a {
  @include font-family($code-font-stack);
  color: $mint;
  text-decoration: none;
  transition: color 200ms ease-in-out;

  &:hover,
  &:focus {
    color: $dark-mint;
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
