@use 'variables';

body {
  font-family: variables.$font-body;
  font-size: 16px;
  line-height: variables.$lh-body;
  color: variables.$color-secondary;
  background-color: variables.$color-primary;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  font-family: variables.$font-heading;
  line-height: variables.$lh-heading;
  margin-bottom: variables.$space-2;
}

h1 {
  font-size: 40px;
  font-weight: 700;
}
h2 {
  font-size: 28px;
  font-weight: 600;
}
h3 {
  font-size: 22px;
  font-weight: 600;
}

a,
button {
  font-family: variables.$font-mono;
  color: variables.$color-accent;
}

a {
  text-decoration: none;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: variables.$color-accent-hover;
  }
  &:active {
    color: variables.$color-accent-active;
  }
  &:disabled {
    color: variables.$color-accent-disabled;
  }
}

button {
  cursor: pointer;
  color: #fff;
  background-color: variables.$color-accent;
  border: none;
  transition: background 0.3s ease;

  &:hover {
    background-color: variables.$color-accent-hover;
  }
  &:active {
    background-color: variables.$color-accent-active;
    scale: 0.95;
  }
  &:disabled {
    background-color: variables.$color-accent-disabled;
  }
}
