@use 'variables';

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: variables.$space-3;

  &__status__btn {
    position: relative;
    margin-top: variables.$space-2;
    padding: 12px 20px;
    font-weight: 500;
    border: none;
    border-radius: variables.$space-1;

    &:hover {
      cursor: progress;

      &::after {
        opacity: 1;
      }
    }

    &::after {
      content: attr(data-tooltip);
      position: absolute;
      bottom: 125%;
      left: 50%;
      transform: translateX(-50%);
      background: variables.$color-secondary;
      color: variables.$color-primary;
      padding: 0.4rem 0.6rem;
      font-size: 0.8rem;
      border-radius: 0.5rem;
      white-space: nowrap;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.2s ease;
    }
  }
}
