@charset "utf-8";

@use './abstracts/variables' as *;

@use './base/reset';
@use './base/global';
@use './base/typography';

@use './layout/header';

.page {
  min-height: calc(100vh - #{$header-height});
  margin: 0;
  padding: 0;
}
